*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
nav{
    width: 100%;
  height: 11vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(14,174,87,1) 0%, rgba(12,116,117,1) 90% );
}
a:link {
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none;
  }
  .nav-link {
    width: 7vw;
    height: 5vh;
    font-size: x-large;
    text-align: center;
    font-family: sans-serif;
    color: snow;
    transition: transform 0.3s ease-in-out;
  }
  
  .nav-link:hover {
    transform: scale(1.1);
  }
  .login-signup {
    width: 6vw;
    height: 5vh;
    border-radius: 40px;
    border: 0;
    background-color: rgb(1, 124, 22);
    color: snow;
    cursor: pointer;
  }
  
  .login-signup:hover {
    opacity: 0.7;
  }  
  footer {
    background-color: gray;
    text-align: center;
    margin-top: auto;
    padding: 8px;
  }
  .footer {
    background-color: #f2f2f2;
    padding: 20px;
    color: #333;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  

  
  .footer-section h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .footer-links ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-links li {
    margin-bottom: 8px;
  }
  
  .footer-links a {
    color: #333;
    text-decoration: none;
  }
  
  .footer-social {
    display: flex;
    flex-direction: column;
  }
  
  .footer-social h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
.social-icons a {
    margin-right: 10px;
  }
 
  .social-media-icons{
    width: 4vw;
    height: 4vw;
  }
  .footer-link {
    width: 7vw;
    height: 5vh;
    font-size: x-large;
    text-align: center;
    font-family: sans-serif;
    color: rgb(0, 0, 0);
    transition: transform 0.3s ease-in-out;
  }
  
  .footer-link:hover {
    transform: scale(1.1);
  }